@model Sam.Models.chitietdonhang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>chitietdonhang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.donhang.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donhang.diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sanpham.tensp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sanpham.tensp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dongia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.machitietdh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
